@charset "UTF-8";

:root {
    --font1: 'Inter', Arial, Helvetica, sans-serif;
    --font2: 'Oswald', Arial, Helvetica, sans-serif;
    --font3: 'Bebas Neue', cursive;

    --color1: #6FC984;
    --color2: #36B353;
    --color3: #198A33;
    --color4: #08601d;
    --color5: #073812;
    --team_color: #386fd6;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;

    background-color: #dfdfdf;
    font-family: var(--font1);
}

header {
    padding: 40px 0px;

    background-image: linear-gradient(to top, var(--color4), var(--color2));
    text-align: center;
}

header h1 {
    color: white;
    text-align: center;
    font-family: var(--font3);
    font-size: 3em;
}

header p {
    margin-top: 10px;
    color: white;
    font-size: 1.3em;
}

nav {
    padding: 20px;
    background-color: var(--color4);
}

nav a {
    padding: 10px;

    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section.parallax {
    height: 400px;

    background-color: var(--color5);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

section.parallax#img1 {
    background-image: url('../imgs/champions.png');
}

section#home {
    max-width: 100%;

    margin: 0px 3vw;
}

section#home > h2 {
    margin: 30px 30px;

    font-family: var(--font3);
    font-size: 2.5em;
}

section#home h3 {
    font: normal normal 2em var(--font3);
}

div#home-content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

div#home-content-img {
    width: 100%;
    max-width: 100%;
    flex: 1 1 400px;
}

div#home-content-img > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

div#home-content-text {
    width: 100%;
    max-width: 100%;
    flex: 1 1 400px;
}

div#home-content-text h3 {
    margin: 10px 0px;
    padding: 0px 10px;
    background-image: linear-gradient(to right, var(--team_color), transparent 70%);
    border-radius: 5px;
}

div#home-content-text p {
    text-indent: 40px;
}

div.cards {
    margin: 50px 0px;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vw;
    
}

div.card {
    position: relative;
    width: 250px;
    min-height: 180px;
    padding: 10px;

    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #00000080;
}

div.card img {
    position: absolute;
    padding: 5px;

    max-width: 50px;
    max-height: 50px;

    left: 5%;
    top: 10%;

    background-color: var(--team_color);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #00000040;
}

div.card h2 {
    position: absolute;

    left: 5%;
    top: 45%;

    color: gray;
    font-size: 1.2em;
}

div.card p {
    position: absolute;

    left: 8%;
    top: 65%;

    font-family: var(--font2);
    font-weight: bold;
    font-size: 2em;
}